/*{
    border: 1px solid black;
}
*/

.Logo {
    width: 25%;
    background: white;
    border-radius: .3s;
    border-radius: 5px;
    display: flex;
    align-self: baseline;
}

.header {
    text-align: center;
    background-position: center;
    color: #7944e6;
    font-size: 25px;
    font-family: Bungee, Arial, Helvetica, sans-serif;
}

.About{
    margin: 0;
    font-family: Bungee, Arial, Helvetica, sans-serif;
  }



.navbar a{
    float: left;
    display: flex;
    background-color: #ff00ff;
    color: #7944e6;
    text-align: center;
    padding:20px 20px;
    text-decoration: none;
    font-size: large;
    border-radius: 5px;
    border-radius: .3s;
}
.navlist{
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.navbar a:hover {
    background-color:#10fdff;
    color: white;
}

.navbar a.active {
    background-color:#10fdff;
    color: white;
}

.navbar .icon {
    display: none;
}

@media screen and (min-width: 768px) {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    li {
        width: 50px;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    li {
        width: auto;
        justify-content: space-between;
    }
}


@media screen and (min-width: 768px){
    .ImageCards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card1{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.TextPortion {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-family: Bungee, Arial, Helvetica, sans-serif;
    background: #7944e6;
    color: white;
    border-radius: 5px;
}

.Image-Truck {
    align-items: flex-start;
    align-content: center;
    border-radius: 5px;
    border-radius: .3s;
    
}

.Text{
    text-indent: 15px;
    border-radius: 5px;
    border-radius: .3s;
}

.FoodTruck {
    width: 80%;
    border-radius: .3s;
    border-radius: 5px;
}

.ImageCards {
    margin: 10px;
    align-content: center;
    padding: 20px;
    background-color: #ff00ff;
    border-radius: 5px;
    border-radius: .3s;
}

.button {
    font-family: bungee, Arial, Helvetica, sans-serif;
    background-color: #ff00ff;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}

.button:hover {
    background-color:#10fdff;
    color: white;
}

.button a.active {
    background-color:#10fdff;
    color: white;
}

.button a.icon {
    display: none;
}

.card1 {
    padding: 25px;
    margin: 25px;
    display: table;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    width: 400px;
    align-self: auto;
    font-family: Bungee, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #7944e6;
    border-radius: 5px;
    border-radius: .3s;

}

.cardpic {
    margin: auto;
    padding: 25px;
    height: 200px;
    border-radius: .3s;
    border-radius: 5px;
}

.card1:hover {
    box-shadow: 0 8px 16 px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
    margin: auto;
}

.Footer {
    margin: auto;
    padding: 60px 40px;
    position: center;
    background: white;
    color: #ff00ff;
    font-size: 25px;
    font-family: Bungee, Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
